body{
    background-color: #69C4C4;
}

#container{
    width: 350px;
    margin: 16px auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border-right: solid 3px #6997C4;
    border-bottom: solid 3px #6997C4;
    background-color: #38648F;
}

#screen{
    margin-top: 4px;
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 2.5/1;
    padding: 8px;
    background-color: antiquewhite;
    border-top: solid 3px #6997C4;
    border-left: solid 3px #6997C4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 0;
}

#input{
    flex-shrink: 1;
    overflow: auto;
    scrollbar-width: thin;
    margin: 0;
    font-size: 150%;
}

#output{
    margin: 0;
    text-align: end;
    color: rgba(0, 0, 0, 0.5);
    font-size: 130%;
}

#btns-cont{
    margin: 0;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
}


.btn{
    width: 80px;
    aspect-ratio: 1/1;
    font-size: 160%;
    border: none;
    border-radius: 8px;
    margin: 2px;
    background-color: #6997C4;
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.95);
    scale: 0.98;
    transition: all 0.1s ease;
}

.btn:active{
    scale: 0.95;
}

.num-btn{
    font-size: 250%;
}

.clr-btn{
    aspect-ratio: 2/1;
}

#operators{
    display: flex;
    flex-wrap: wrap;
}

.operator{
    width: 38px;
    margin: 3px 2px;
    aspect-ratio: 1/2;
    background-color: #C49669;
}

#clr-all{
    background-color: #8F3864;
}

#equal{
    color:#e2e1e1;
    background-color: #C4696A;
}

#clr-last{
    background-color: #e2e1e1;
}

#pi{
    background-color: #696AC4;
}
